<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vue.js勉強用メモ</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <h1>Vue.js勉強用メモ（メソッド、プロパティ、ディレクティブまとめ）</h1>

    <div class="chips">
        <h2>コード記述時の注意事項</h2>
        <li>computedプロパティには（）をつけない。methodsプロパティには（）をつける（イベントメソッドかつ、引数を持たないメソッドの場合のみ（）の省略が可能）。</li>
        <li>プロパティ名をケバブケース（ーで繋ぐ）で書く場合は、''で囲む必要がある。</li>
        <li>viewへ影響を与えずに複数のタグをグループ化したい場合は、templateタグで囲む<br>
            =>ただし、key属性を使う場合のみ、templateタグは使えない（DOMへ反映させる必要があるため）<br>
            =>key属性は、配列の要素を区別するために使う一意のデータ
        </li>
        <li>v-forを使う際は、予期せぬ挙動を防ぐため必ずkey属性をつける</li>
        <li>v-for構文のinは、ofにしても同じ挙動をする</li>
        <li>
            【省略形まとめ】<br>
            : => v-bind <br>
            @ => v-on <br>
            # => v-slot
        </li>
        <li>
            【v-modelにつけられる修飾子まとめ】<br>
            v-model.lazy => デフォルトではフォームで文字入力をするたびに画面に反映されるが、lazyをつけるとフォームからカーソルが外れた時に初めて描画される<br>
            v-model.number => type="number"のinputタグであっても、数字が入力されると文字列として受け取ってしまう。それを数値型に変換する。<br>
            v-model.trim => 先頭と末尾の空白を切り取ってくれる。<br>
        </li>
        <li>改行で入力された文章を改行表示させたい時は、preタグか、cssのwhite-space: pre;をつける</li>
        <li>カスタムディレクティブとFilterではthisが使えないので注意!!</li>
        <li>Filter関数では必ず引数を取る必要がある</li>
        <li>パフォーマンスの点から基本的にはcomputedを使うことが推奨されるが、computedで何度も同じ処理を記述する必要がある場合はFilterを使うなど、使い分けも大切。</li>
        <li>mixinのグローバル登録をすると、自動的に各コンポーネント内の全てのVueインスタンスへ反映されてしまうため、あまり使用しない方が良い</li>
        <li>
            【グローバル登録の注意点まとめ】<br>
            component => あまり使っていないコンポーネントをグローバル登録することでファイルサイズが大きくなるなどの弊害がある<br>
            directive, filter => グローバル登録されただけではまだ反映されておらず、各コンポーネント内で呼び出す時に処理が行われる<br>
            mixin => 自動的に各コンポーネント内の全てのVueインスタンスへ反映されてしまい、パフォーマンスが落ちるので基本は使わない
        </li>
        <li>【transitionまとめ】
            transitionコンポーネント内には1つのルート要素しか入れられないので注意！最終的に出力される要素が1つであれば、v-ifなどで並べることができる。<br>
            複数の要素を切り替える処理を行うときは、必ずタグにkey属性を付ける<br>
            複数の要素を切り替える処理を行うときは、mode属性を指定することで変更前の要素が消えてから、次の要素が現れるようにできる（逆も可能）<br>
        </li>
        <li>
            【transition-groupまとめ】<br>
            transition-groupを使う際は必ずkey属性をつける<br>
            デフォルトではspanタグになるが、tag="div"のように指定することも可能<br>
            transitionでは無かった ◯◯-moveクラスを使うことができる
        </li>
        <li>transitionを再利用するときはcomponentを作成し、slotを使うことでやりやすくなる</li>
        <li>
            【vue-routerを使ったURLによるルーティングまとめ】<br>
            1. npm install vue-routerでインストールを行う<br>
            2. router.jsを作成し、必要な情報を記述する<br>
            3. main.jsでrouter.jsをimportし、Vueインスタンス内にrouterプロパティを記述する<br>
            4. App.vueのtemplateタグ内へrouter-viewタグを書くと、URLに応じてそのタグ内でコンポーネントが動的に切り替わる<br>
            ※ new Routerのところでhistoryモードを指定することでデフォルトのURLが#タグを含むhashモードから#なしに切り替えられる
        </li>
        <li>
            【vue-routerを使ったURLによるルーティングまとめ2】<br>
            hashモード： localhost:8080/#/usersのようにハッシュがURLに含まれる。#以降に何を入力してもネットワークはlocalhost:8080へ接続し、<br>
                        #以降に入力した文字に該当するコンポーネントを返す。<br>
            historyモード： localhost:8080/usersのようにハッシュがURLに含まれなくなる。入力した文字列のURLへGETリクエストを送るようになり、<br>
                           ローカル環境では文字列に関わらず自動的にindex.htmlを返すようになっている。ただし、デプロイ時には自分でそうなるように設定する必要がある。<br>
                           また、ネットワーク接続を行うため、hashモードに比べてページごとの読み込みに少し時間がかかる。
        </li>
        <li>
            【vue-router使用時の注意事項】<br>
            ・historyモードのデプロイ時にはサーバー設定が必要（公式サイトに設定例あり）<br>
            ・リンクにaタグを使用するとネットワークへ接続してしまい遅くなる為、router-linkコンポーネントを使用する<br>
            ・router-linkコンポーネントでactive-classを使うときは、包含的なマッチとなり、URLが部分一致すればアクティブだと認識されてしまうため、<br>
              完全一致にする場合にはexact属性を付ける必要がある<br>
            ・URLパラメータが変わった時にはライフサイクルフックが呼ばれないので、変更前後で処理を行いたいときはwatchやナビゲーションガードを使う<br>
            ・URLパラメータを受け取る処理を行う場合、propsでU受け取ると再利用性が高まる。routes.jsでの設定が必要な点に注意。<br>
            ・childrenでrouter-viewの中でネストしたrouter-viewを使う際、パスの頭には/がつかないので注意。<br>
            ・propsは名前付きビューごとに指定する必要がある点に注意。
        </li>
        <li>
            【vue-routerの遅延ローディング】<br>
            ・遅延ローディングとは？： router.jsで大量のコンポーネントをインポートすることになるが、デフォルトでは最初のページを開いた際に<br>
                                   全てのコンポーネントが読み込みされる為時間がかかる。そこで、ページを開く際にそのページのコンポーネントをその都度インポートできるようにする。
        </li>
        <li>
            【vuexで末端コンポーネント同士のデータのやり取りをスムーズにする】<br>
            1. npm install vuexでインストールを行う<br>
            2. store.jsを作成し、必要な情報を記述する<br>
            3. main.jsでstore.jsをimportし、Vueインスタンス内にstoreプロパティを記述する<br>
            4. どのコンポーネントからでもthis.$store.state.○◯でプロパティを使えるようになる（$storeの部分はmain.jsで定義したプロパティによって異なる）<br>
            <span style=" color: red;" >
                注意！！：どのようなコンポーネントでもデータを参照できるということは、データを書き換えられる可能性もあり、
                非常にバグが生まれやすくなるため、vuexに渡すデータの変更にはmutationsを用いることが推奨されている
            </span><br>
        </li>
        <li>mutationsでは同期的な処理しか書けないので、非同期処理を行う場合はactionsを使う（mapActionsも使用可能）</li>
        <li>
            【vuexによるコードの肥大化を防ぐフォルダ構成】<br>
            src配下にstoreフォルダを作成し、getters.jsやmutations.js、index.jsなどを作成。storeフォルダ配下に更にmodulesフォルダを作成し、機能別のjsファイルを作成する。
        </li>
    </div>


    <div id="app">
        <!-- DOMイベントのクリックをトリガーとしてreverseMessageメソッドを呼び出し。引数がない場合は()を付けても付けなくても同じ -->
        <button v-on:click="reverseMessage">
            メッセージ反転
        </button>

        <a :href="domLink">DOMイベント一覧</a>

        <!-- v-modelディレクティブにより双方向バインディングが可能（new Vue()内のmessageプロパティを変えることでview側の表示を切り替えることは可能だったが、v-modelを使うことでviewで指定した内容をプロパティ側へバインディングすることも可能になる） -->
        <div>
            <input type="text" v-model="message">
        </div>
    
        <!-- messageプロパティ内のデータを表示 -->
        <p>{{message}}</p>
        <p v-text="message"></p>

        <!-- 他のメソッド内でmessage内のデータが書き換えられていても、必ず1度だけ「HelloWorld!」が表示される -->
        <p v-once>{{message}}(v-once)</p>

        <!-- htmlタグをプレーンなテキストとするか、タグとして適用させるか -->
        <p>{{ html }}</p>
        <!-- クロスサイトスクリプティングによる脆弱性がある為、ユーザーから提供されたデータをv-htmlで受け取らないようにする -->
        <p v-html="html"></p>

        <!-- v-bindは必ず引数を持つ -->
        <a v-bind:href="url">Google</a>
        <!-- v-bindは省略可能 -->
        <a :href="url">Google(v-bind省略)</a>

        <!-- :[]を使用することで属性も動的に変更可能 -->
        <a :[attribute]="url">Google(属性も省略)</a>

        <!-- v-onディレクティブでも同じように動的な変更が可能 -->
        <p>クリック回数：{{ number }}</p>
        <button v-on:[event]="countUp">カウントアップ</button>
        <!-- v-onディレクティブでの省略形には@をつける -->
        <button @[event]="countUp">カウントアップ</button>
        <button @click="countUp">カウントアップ</button>



        <!-- 重要！！！！！！！！！！ -->
        <!-- computedプロパティで記述したものは、methodsプロパティでも同じように記述できるが、methodsプロパティで記述してはいけない。違いは以下の通り。
        computed： 参照するプロパティ（今回の場合はcounter）の値が変わった時のみ発火
        methods: メソッドには直接関係ないプロパティでも、その値が変化したときに発火してしまう -->

        <!-- computedプロパティを使用する際の書き方 -->
        <p>{{ lessThanThree }}</p>




        <!-- オブジェクトとしてまとめて色々な属性や数値を定義して、渡すことも可能 -->
        <a v-bind="twitterObject">Twitter</a>

        <!-- イベントオブジェクトの取得（中身にどのようなデータが入っているかはconsole.log(event)のような形で検証ツールから確認可能） -->
        <p v-on:mousemove="changeMousePosition">マウスを載せて下さい

            <!-- イベント修飾子によって発火しないようにする（後に=を付けて別のメソッドを書くことも可能） -->
            <!-- stop = event.stopPropagation()を簡単に表現できるvueの修飾子 -->
            <span v-on:mousemove.stop>この文字上ではMouseMoveが無効になります</span>
            <!-- prevent = event.preventDefault()を簡単に表現できるvueの修飾子 -->
            <a v-on:click.prevent v-bind:href="url">Google（prevent修飾子付き）</a>
        </p>

        <!-- イベントオブジェクトを持つメソッドへ引数を渡す場合は$eventという特別な引数を渡す必要があるので注意！！！！ -->
        <p v-on:mousemove="changeMousePosition2(100, $event)">マウスを載せて下さい（XとYを任意の数で割って表示します）</p>
        <p>X:{{ x }}、Y:{{ y }}</p>

        <!-- spaceやenterはキー修飾子と呼び、特定のキーを押した時にだけ発火するようにできる（繋げたり、単独どちらも使用可能） -->
        <input type="text" v-on:keyup.space.enter="myAlert">

        <!-- クラスをデータへバインディングさせる -->
        <!-- :class="[red, blue]"のような形で配列にすることも可能 -->
        <h2 :class="classObject">Hello</h2>
        <button @click="isActive = !isActive">文字色切り替え</button>

        <!-- 条件付きレンダリング -->
        <h2 v-if="isActive">Active!</h2>
        <!-- v-elseや、v-else-ifはv-ifの直後に記述しないと動作しないので注意！！ -->
        <h2 v-else>NotActive...</h2>




        <!-- 重要！！！！！！！！！！ -->
        <!-- v-showでもv-ifと同じような挙動になるが、v-ifとv-showではそれぞれデメリットがあるので使い分けが必要！
        【それぞれのデメリット】
        v-show: 非表示になった際に、DOM上には存在し、display: none;で非表示にしている為、非表示でも毎回読み込まれる。その為描画コストが高い。templateタグにも利用できない。
        v-if: 非表示になった際にはDOMから削除される。その為、頻繁に切り替えが行われると描画コストが高くなる。
        -> 結論：　基本はv-ifを使い、頻繁に切り替えが行われるときはv-showを使う -->
        <h2 v-show="isActive">v-show is Active!(非表示になっていても、DOMにはあるため検証ツールで確認可能）</h2>





        <!-- cssのバインディング(オブジェクト形式でプロパティを記載して、オブジェクトごとバインディングさせることも可能で、そちらが推奨) -->
        <h2 :style="{color: textColor, 'background-color': bgColor}">CSS Binding</h2>

        <!-- 複数のオブジェクトをバインディングさせるには配列で記載
        <h2 :style="[ObjectA, ObjectB]">Hello</h2> -->

        <!-- 配列から繰り返しデータを取得する(fruitのみも可能、下記のように第二引数を取ることもできる) -->
        <h3>v-forまとめ</h3>
        <ul>
            <li v-for="(fruit, index) in fruits" :key="fruit">{{ index }}{{ fruit }}</li>
            <!-- オブジェクトから繰り返しデータを取得することも可能で、第二引数にkeyを、第三引数にindexを取ることができる -->
            <li v-for="(value, key, index) in userObject" :key="value">{{ index }}{{ key }}-{{ value }}</li>
            <!-- 整数値を順番に取得することも可能 -->
            <li v-for="n in 5" :key="n">{{ n }}</li>
        </ul>


        <!-- v-forを使う際は、予期せぬ挙動を防ぐため必ずkey属性をつける -->
        <div v-for="fruit in fruits" :key="fruit">
            <p>{{ fruit }}</p>
            <input type="text">
        </div>
        <button @click="remove">先頭を削除</button>
        

        
      </div>
      <script>
          new Vue({
            // 適用させるエレメントを指定
            el: '#app',
            data: {
                message: 'HelloWorld!',
                html: '<h1>h1タグ</h1>',
                url: 'https://google.com',
                attribute: 'href',
                twitterObject: {
                    href: 'https://twitter.com',
                    id: 'test'
                },
                domLink: 'https://developer.mozilla.org/ja/docs/Web/Events',
                x: 0,
                y: 0,
                number: 0,
                event: 'click',
                isActive: true,
                textColor: 'white',
                bgColor: 'black',
                fruits: ['りんご', 'バナナ', 'ぶどう'],
                userObject: {
                    firstName: '一郎',
                    lastName: '鈴木',
                    age: 25
                }
            },
            // computedプロパティでは必ず戻り値が必要
            computed: {
                lessThanThree: function() {
                    return this.number > 3 ? '3より上' : '3以下'
                },

                classObject: function() {
                    return {
                        red: this.isActive,
                        blue: !this.isActive
                    }
                }
            },
            // 基本的にはcomputedを使うが、非同期処理ではreturnを記述することができないので、やりたいことがcomputedで出来ない場合のみwatchプロパティを使う
            watch: {
                number: function() {
                    var vm = this;
                    setTimeout(function(){
                        vm.number = 0;
                    }, 3000)
                }
            },
            methods: {
                reverseMessage: function() {
                // 同じブロック内のプロパティにアクセスする時はthisをつける
                this.message = this.message.split('').reverse().join('')

                // v-onceメソッドが正しく動作しているかのテスト用
                this.message = "こんにちは世界"
                },

                // イベントオブジェクトの取得（変数名はeventとするのが慣例）
                changeMousePosition: function(event) {
                    this.x = event.clientX;
                    this.y = event.clientY;
                },

                //　イベントオブジェクトを引数に持つメソッドへ、別の引数を渡す
                changeMousePosition2: function(divideNumber, event) {
                    this.x = event.clientX / divideNumber;
                    this.y = event.clientY / divideNumber;
                },

                myAlert() {
                    alert('EnterキーかSpaceキーが押されました');
                },

                countUp: function() {
                    this.number += 1;
                },

                remove: function() {
                    this.fruits.shift()
                }
            }
          })
      </script>
</body>
</html>