.red {
    color: red;
}

.blue {
    color: blue;
}

.chips {
    margin-bottom: 2%;
}

.instance_memo > li,
.component_memo > li {
    margin-bottom: 2%;
}

.instance_memo > li:nth-child(2n),
.component_memo > li:nth-child(2n) {
    background-color: lightcyan;
}

.instance_img {
    width: 100%;
}